<div class="filters">
  <%= form_tag(dashboard_path) do %>
    <div class="field">
      <div class="input-field">
        <%= select_tag(:channel, options_from_collection_for_select(current_user.team.channels, "id", "name"), include_blank: true) %>
        <%= label_tag 'channel', 'Select a Channel (required):' %>
      </div>
    </div>
    <div class="field">
      <div class="input-field">
        <%= select_tag(:user, options_from_collection_for_select(current_user.team.users.where.not(nickname: nil), "id", "nickname"), include_blank: true) %>
        <%= label_tag 'user', 'Filter by User (optional):' %>
      </div>
    </div>
    <div class="field">
      <div class="input-field">
        <%= select_tag(:range, options_for_select([["Past Week", "week"], ["Today", 0], ["Yesterday", 1], ["2 Days Ago", 2], ["3 Days Ago", 3], ["4 Days Ago", 4], ["5 Days Ago", 5], ["6 Days Ago", 6]])) %>
        <%= label_tag 'user', 'Choose a time range (required):' %>
      </div>
    </div>
    <div class="field">
      <%= submit_tag "F I L T E R", class: "submit-btn" %>
    </div>
  <% end %>
</div>
