<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<div class="dashboard-wrapper">
  <h1>Sentiment Dashboard</h1>



  <div class="filters">
    <%= form_tag(dashboard_path) do %>
      <div class="field">
        <div class="input-field">
          <%= select_tag(:channel, options_from_collection_for_select(Channel.all, "id", "name"), include_blank: true) %>
          <%= label_tag 'channel', 'Select a Channel (required):' %>
        </div>
      </div>
      <div class="field">
        <div class="input-field">
          <%= select_tag(:user, options_from_collection_for_select(User.where.not(nickname: nil), "id", "nickname"), include_blank: true) %>
          <%= label_tag 'user', 'Filter by User (optional):' %>
        </div>
      </div>
      <div class="field">
        <div class="input-field">
          <%= select_tag(:range, options_for_select(["Weekly", "Daily"])) %>
          <%= label_tag 'user', 'Filter by User (optional):' %>
        </div>
      </div>
      <div class="field">
        <%= submit_tag "Filter", class: "submit-btn" %>
      </div>
    <% end %>
  </div>

  <div id="chart" class="container">
    <h3 class="center">Sentiment by Slack Channel</h3>
    <br>
    <% if @graph_data.nil? %>
      <h5>Please select a channel from the dropdown menu.</h5>
    <% else %>
      <%= scatter_chart @graph_data , min: 0, max: 1 %>
    <% end %>
  </div>
</div>
