<%= javascript_include_tag "chartkick" %>
<div class="dashboard-wrapper">
  <h1>Sentiment Dashboard</h1>


  <%= simple_form_for(:channel_filter, url: dashboard_path, method: :get) do |f| %>
      <%= f.label :channel %>
      <%= f.collection_select :channel, Channel.all, :id, :name %>
  <% end %>

  <%= form_tag(dashboard_path, method: :get) do %>
      <%= select_tag(:channel, options_for_select(Channel.all), prompt: "Select a Channel") %>
    <%= submit_tag "Filter" %>
  <% end %>

  <%= form_for(:channel_filter, url: dashboard_path) do |f| %>
    <%= f.collection_select :channel, Channel.all, :id, :name %>
    <%= f.submit %>
  <% end %>

  <div class="filters">
    <!-- Dropdown Triggers -->
    <!---REPLACE THIS WITH FORMS--->

    <a class='dropdown-button btn' href='#' data-activates='channels_dropdown' data-beloworigin='true'>Select Channel</a>
    <a class='dropdown-button btn' href='#' data-activates='users_dropdown' data-beloworigin='true'>Select User</a>
    <a class='dropdown-button btn' href='#' data-activates='time_range_dropdown' data-beloworigin='true'>Select Time Range</a>

    <!-- Channels Dropdown Structure -->
    <ul id='channels_dropdown' class='dropdown-content'>
      <% Channel.all.each do |ch| %>
        <li><%= ch.name.upcase %></li>
      <% end %>
    </ul>

    <!-- UsersDropdown Structure -->
    <ul id='users_dropdown' class='dropdown-content'>
      <% User.where.not(nickname: nil).each do |u| %>
        <li><%= u.nickname.upcase %></li>
      <% end %>
    </ul>

    <!-- Time Range Structure -->
    <ul id='time_range_dropdown' class='dropdown-content'>
      <li>BY DAY</li>
      <li>BY WEEK</li>
    </ul>

  </div>

  <div id="chart" class="container">
    <h3 class="center">Sentiment</h3>
    <%= scatter_chart Sentiment.where(channel_id: 2).pluck(:slack_id, :score) %>
    <% line_chart Sentiment.where(channel_id: 2).group(:slack_id).average(:score) %>
  </div>
</div>
