<%= javascript_include_tag "chartkick" %>
<div class="dashboard-wrapper">
  <h1>Sentiment Dashboard</h1>



  <div class="filters container">
    <%= form_tag(dashboard_path) do %>
      <div class="field">
        <div class="input-field">
          <%= select_tag(:channel, options_from_collection_for_select(Channel.all, "id", "name")) %>
          <%= label_tag 'channel', 'Select a Channel:' %>
        </div>
      </div>
      <div class="field">
        <%= submit_tag "Filter", class: "submit-btn" %>
      </div>
    <% end %>
  </div>

  <div id="chart" class="container">
    <h3 class="center">Sentiment</h3>
    <%= scatter_chart Sentiment.where(channel_id: 2).pluck(:slack_id, :score) %>
    <% line_chart Sentiment.where(channel_id: 2).group(:slack_id).average(:score) %>
  </div>
</div>
