<!DOCTYPE html>
<html>
<head>
  <title>RoomTemperature</title>
  <!-- Google Font - Poiret One -->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <!-- Materialize CSS -->
  <%= stylesheet_link_tag   'materialize', media: 'all', 'data-turbolinks-track' => true %>
  <!-- CSS Style Reset -->
  <%= stylesheet_link_tag   'css_reset',   media: 'all', 'data-turbolinks-track' => true %>
  <!-- Custom CSS -->
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
  <!-- Materialize JavaScript -->
  <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>
  <!-- Application JavaScript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
